

# Ignore files build by ndk and eclipse
# libs/
bin/
obj/
assets/
.classpath
.project
.cproject
*.prefs

# Ignore files build by linux
*.o


# Ignore files build by airplay
build_*_xcode/

# Ignore files build by xcode
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
build/
.DS_Store

# Ignore files built by bada
.Simulator-Debug/
.Target-Debug/
.Target-Release/

# Ignore files built by blackberry
Simulator/
Device-Debug/
Device-Release/

# Ignore local files built for android
gdb.setup
gdbserver
libcocosdenshion.so
libhelloworld.so
raw/