<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smg-menu-eyes-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-eyes.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-hats-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-hat.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-mittens-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-mittens.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,2},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-mouth-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-mouth.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-nose-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-nose.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-scarf-over.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>smg-menu-scarf.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,164},{163,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>menu.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:ae424cd2e1301ec35da7eb8bdada486d$</string>
		<key>textureFileName</key>
		<string>menu.png</string>
	</dict>
</dict>
</plist>
