<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nose00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
            <key>nose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
            <key>nose02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
            <key>nose03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noses.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17673deb06713b7b9aec7b78055d7510$</string>
            <key>textureFileName</key>
            <string>noses.png</string>
        </dict>
    </dict>
</plist>
