<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scarf00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,341}}</string>
                <key>sourceSize</key>
                <string>{252,341}</string>
            </dict>
            <key>scarf01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,341}}</string>
                <key>sourceSize</key>
                <string>{252,341}</string>
            </dict>
            <key>scarf02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,341}}</string>
                <key>sourceSize</key>
                <string>{252,341}</string>
            </dict>
            <key>scarf03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{252,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,341}}</string>
                <key>sourceSize</key>
                <string>{252,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scraves.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6929d491dc482163e8a01090818afc7$</string>
            <key>textureFileName</key>
            <string>scraves.png</string>
        </dict>
    </dict>
</plist>
